{% extends "LearnSystem/layout.html" %}
{% block content %} 
{% if posts %}
<section class="blog_area section-padding">
<div class="container">
    
{% for post in posts %}
<div class="row">
<div class="col-lg-8 mb-5 mb-lg-0">
<div class="blog_left_sidebar">
<article class="blog_item">
    <div class="blog_item_img">
    <img class="card-img rounded-0" src="{{post.preview.url}}" alt="">
    <a href="#" class="blog_item_date">
    <h3>23s</h3>
    <p>Fed</p>
    </a>
    </div>

    <div class="blog_details">
        <a class="d-inline-block" href="single-blog.html">
        <h2>{{post.title}}</h2>
        </a>
         <p>{{ post.description }}</p>
        <ul class="blog-info-link">
        <li><a href="{{ticket.webinar.url}}"><i class="fa fa-user"></i> Читать</a></li>
        <li><a href="#"><i class="fa fa-comments"></i> 0 Comments</a></li>
        </ul>
    </div>
</article>
</div>
    </div>
    </div>
 {% endfor %}  
 
    </div>
    </section>
{% endif %}
{% endblock %} 