{% extends "LearnSystem/layout.html" %}
{% block content %}     

  <form  class="modal-content animate" method="post" action="{% url 'login' %}">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" >&times;</span>
      {% csrf_token %}  
    <h1 class="h3 mb-3 font-weight-normal text-center">Авторизация</h1>    <hr/> 
    <div class="row login-row">  
      <div class="login-col col">
        <a target="_blank"  href="/login/vk-oauth2" class="vk login-btn btn">
          <i class="fa fa-facebook fa-fw"></i> Войти через VK
        </a>
        <a href="#" class="twitter login-btn btn">
          <i class="fa fa-twitter fa-fw"></i>  Войти через Twitter
        </a>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="google login-btn btn">
          <i class="fa fa-google fa-fw"></i>  Войти через Google+
        </a>
      </div>
      <div class="vline"></div> 
      <div class="login-col col">
        <div class="hide-md-lg">
          <p>Или</p>
        </div> 
        <input type="text" name="username" placeholder="Логин" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="submit" value="Войти">  
         <a href="{% url 'rest' %}" >   Забыл пароль?</a>
          <br />
         <a href="{% url 'auth' %}"  >
            Создать аккаунт
        </a>
        <p><font size="3" color="red" face="Arial"></font></p> 
      </div>  
    </div> 
  </form>
{% endblock %}