{% extends "LearnSystem/layout.html" %}
 
{% block content %}
  
<body >
      <div class="album py-5 bg-light">
        <div class="container container-vx">
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Сброс пароля</h4> 
      <form class="needs-validation" novalidate="" method="post" action="{% url 'rest' %}">
            {% csrf_token %} 
          <div class="row">
              <div class="col-md-6 mb-3">
                  <label for="id_firstName">Укажите логин или почту, мы отправим вам сообщение на почту</label>
                  <input type="text" class="form-control" name="emailOrLogin" id="emailOrLogin" placeholder="" required="">

                  {% if error %}
                  <div class="invalid-feedback">
                      {{error}}.
                  </div>
                  {% endif %}
              </div>

          </div>
        <hr class="mb-4">  
        <button class="btn btn-primary btn-lg btn-block" type="submit">Отправить пароль</button>
      </form>
    </div>
    </div>
    <!--
     <form class="needs-validation" novalidate="" method="post" action="/new-user">
 
          <label for="id_username">Имя пользователя:</label>
         <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username"><br><span class="helptext">Обязательное поле. Не более 150 символов. Только буквы, цифры и символы @/./+/-/_.</span>
          <label for="id_password1">Пароль:</label><input type="password" name="password1" required="" id="id_password1"><br><span class="helptext"><ul>
          <li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li><li>Ваш пароль должен содержать как минимум 8 символов.</li><li>Ваш пароль не может быть одним из широко распространённых паролей.</li><li>Ваш пароль не может состоять только из цифр.</li></ul></span>
          <label for="id_password2">Подтверждение пароля:</label><input type="password" name="password2" required="" id="id_password2"><br><span class="helptext">Для подтверждения введите, пожалуйста, пароль ещё раз.</span>
            <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Зарегестрироваться</button>
      </form> -->
        </div>
</body> 

{% endblock %}